#root{
    --pure-white:#fff;
    --orange-text:#f49c00;
    --ab-red:rgb(180, 38, 2);
    --dim:rgb(0,0,0,0.5);
    --txt-shdw:2px 2px black;
    
}
#id-page{
    font-family: canada-type-gibson, sans-serif;
    position: relative;
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

.background-image{
    background-image: url('https://www.ab-inbev.com/content/dam/abinbev/our-brands/our-beer/desktop/Marquee.png');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
}
.background-image::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dim);
}

.id-wrapper{
    margin-top: 180px;
    margin-bottom: 184px;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: auto;
}
.id-wrapper > p:first-of-type{
    margin-top:0.747em;
    margin-bottom:1.54845em;
    line-height: 1.5em;
}
h1{
    color:var(--pure-white);
    font-size: 3.5rem;
    margin-top: .766rem;
    margin-bottom:0.0195em; 
    text-shadow: var(--txt-shdw);
    text-align: center;   
}
form{
    width: 432px;
    font-size: 2rem;
}
.dob-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    align-items: center;
}
select{
    font-size: 1rem;
    padding: 12px 30px 12px 16.75px;
    text-align: center;
    appearance: none;
    background-image: url('https://www.ab-inbev.com/etc.clientlibs/abinbev/clientlibs/clientlib-site/resources/style-assets/chevron.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 1.05rem);
    background-size: 1em;
    outline:0px;
    height: 3.06em;
    border-radius: 5px;
}

select *{
    width:100%;
}

.orange-border{
    border:1px solid var(--orange-text)
}
.locations{
    width: 100%;
    margin-bottom: .24em;

}

#month{
    flex-basis: 51%;
    margin-right: .91em;
}
#day, #year{
    flex-basis: 25%;
}
#day{
    margin-right: .91em;
}
p{
    font-size: 1.25rem;
    font-weight: 550;
    color:var(--orange-text);
    text-shadow: var(--txt-shdw);
    text-align: center;
}
.id-wrapper > p:nth-of-type(2){
    margin-top:.6em;
    margin-bottom:1.4em;
}

button{
    margin-top: 1.5rem;
    font-size: .5em;
    font-weight: 700;
    background-color:var(--orange-text);
    color:var(--pure-white);
    outline: none;
    border:0;
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    cursor: pointer;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size:1rem;
    margin:.9em;
}

footer *{
    color:var(--pure-white);
    text-decoration: none;
    font-weight: 300;
}
.footer-links{
    font-size: calc(1rem / 1.3);
    margin-top:.25em;
    letter-spacing:.025px;
    text-align: center;
}

.link-separator::before{
    content:"\"";
    color:transparent;
}
.link-separator::after{
    content:"\"";
    color:transparent;
}

footer a{
    font-weight:700;
}

.color-strip-bottom{
    position:fixed;
    bottom:0;
    height: 4px;
    width: 100vw;
    background-image: linear-gradient(to right,var(--ab-red) , var(--orange-text));
    z-index: 4;
}

@media screen and (max-width:1030px){
    h1{
        font-size: 2.125em;
}
form{
    width:332px;
}
p{
    font-weight: 100;
}

#month{
    flex-basis: 51%;
    margin-right: .25em;
}
#day, #year{
    flex-basis: 25%;
}
#day{
    margin-right: .25em;
    
}
select{
    background-position-x: calc(100% - .5rem);
}

}

@media screen and (max-height:600px){


.id-wrapper{
    margin-bottom:10px;
}

}
@media screen and (max-width:350px){
    h1{
        font-size: 1.875em;
}

}