root {
    --pure-white: #fff;
    --orange-text: #f49c00;
    --ab-red: rgb(180, 38, 2);
    --dim: rgb(0, 0, 0, 0.5);
    --txt-shdw: 2px 2px black;
    --txt-black: #231f20;
    --bx-shdw: rgb(100 100 100 / 28%) 0 6px 17px 1px;
    --bx-shdw-list: rgb(100 100 100 / 28%) 0 13px 17px 1px;
    --dark-grey: rgb(95, 95, 95);
  }
  
.stories__container{
    display:flex;
    flex-wrap: wrap;
    max-width: 90rem;
    margin:auto;
    margin-top:7rem;
    justify-content: center;
}
.stories__container *{
    text-shadow: unset;
    text-decoration: none;
}
.stories_news-cards{
    width: 437px;
    height: 540px;
    box-shadow:rgb(100 100 100 / 28%) 0px 2px 5px;
    margin:1rem;
}
.stories_news-cards:hover img{
    transform: scale(90%);
}
.stories__container .news-section{
    flex-direction: column;
    margin:0
}

.stories__container .news-section__image{
    width:100%;
    margin:0;
}
.stories__container .news-section__paragraph-container{
    padding:2rem 2rem 0;
}
.stories__container .news-section__title{
    font-size: .8125rem;
}
.stories__container .news-section__snippet{
    font-size: 1.25rem;
    line-height: 2rem;   
}
.stories_date{
   padding:2rem;  
   font-size: .8125rem;
}

.stories_news-cards.social{
    background: var(--orange-text);
}