#root {
  --pure-white: #fff;
  --orange-text: #f49c00;
  --ab-red: rgb(180, 38, 2);
  --dim: rgb(0, 0, 0, 0.5);
  --txt-shdw: 2px 2px black;
  --txt-black: #231f20;
  --bx-shdw: rgb(100 100 100 / 28%) 0 6px 17px 1px;
  --bx-shdw-list: rgb(100 100 100 / 28%) 0 13px 17px 1px;
  --dark-grey: rgb(95, 95, 95);
}
header {
  height: 5.5rem;
  width: 100vw;
  background: var(--pure-white);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}
header * {
  color: var(--txt-black);
}
header.fixed {
  position: fixed;
}
header.absolute {
  position: absolute;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
}
.logo img {
  height: 18.75px;
  padding: 1rem;
  margin-left: -8px;
}
.logo a {
  display: flex;
  align-items: center;
}
.list-main-tabs {
  /*main header tabs */
  display: flex;
  justify-content: center;
  font-weight: 600;
  height: auto;
  margin: 0;
  padding: unset;
  flex-basis: 0;
}
.main-tab:hover {
  box-shadow: var(--bx-shdw);
}
.main-tab,
.sub-tab-1 {
  position: relative;
}
.main-tab-link {
  /*fills entire element with link*/
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 2.5rem;
  width: max-content;
  padding: 0.75rem;
}
nav {
  flex-grow: 10;
  margin: 0px 0 0 -38px;
}
.list.sub-tabs-1,
.list.sub-tabs-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  padding: 0;
  width: 240px;
}

.sub-tab-1,
.sub-tab-2 {
  display: flex;
  position: relative;
  height: 2rem;
  padding: 2px 15px;
  line-height: 1rem;
  align-items: center;
}
.sub-tab-1.active,
.sub-tab-2 a {
  background: var(--txt-black);
  color: var(--pure-white);
}
.main-tab-link:hover,
.sub-tab-1:hover,
.sub-tab-2:hover {
  color: var(--orange-text);
}
.list.sub-tabs-1 a,
.list.sub-tabs-2 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list.sub-tabs-1.active,
.list.sub-tabs-2.active {
  visibility: visible;
}

.list.sub-tabs-1 {
  left: 0;
  top: 62px;
}
.list.sub-tabs-2 {
  left: 240px;
  top: 0;
}

header li {
  font-size: 0.75rem;
  list-style: none;
  cursor: pointer;
}
header a {
  text-decoration: none;
}
.list.sub-tabs-1.active,
.list.sub-tabs-2.active {
  box-shadow: var(--bx-shdw-list);
  background: var(--pure-white);
}
.list.sub-tabs-2.active {
  box-shadow: unset;
}
.sub-tab-1.has-submenu:before {
  content: "";
  width: 8px;
  background: var(--txt-black);
  height: 1px;
  z-index: 10;
  position: absolute;
  bottom: 55%;
  right: 0.75rem;
  transform: rotate(40deg);
}
.sub-tab-1.has-submenu:after {
  content: "";
  width: 8px;
  background: var(--txt-black);
  height: 1px;
  z-index: 10;
  position: absolute;
  top: 55%;
  right: 0.75rem;
  transform: rotate(-40deg);
}
.sub-tab-1.has-submenu:before,
.sub-tab-1.has-submenu:after {
  background-color: var(--dark-grey);
}

.utilities-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-right: 9px;
}
.utilities-globe,
.utilities-search,.utilities-menu{
  height: 1rem;
  width: auto;
  padding: 0.65rem;
  padding-bottom: 0.85rem;
  cursor: pointer;
}
.utilities-container svg {
  height: 1.3rem;
}

@media screen and (max-width: 1250px) {
  header {
    height: 3rem;
  }
  .logo {
    justify-content: flex-start;
  }
  .logo img {
    margin: unset;
  }
  .utilities-container {
    justify-content: flex-end;
  }
  .utilities-menu {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    background-size: 130%;
    position: relative;
  
  }
  .utilities-menu.closed {
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  }
  .utilities-menu.open {
    background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
  }
  .utilities-menu.closed:before{
    position:absolute;
    content:"";
    background-color:var(--pure-white);
    height:5.15px;
    bottom: 53.4%;
    left:0;
    right:0;
  }
  .utilities-menu.closed:after{
    position:absolute;
    content:"";
    background-color:var(--pure-white);
    height: 5.1px;
    bottom: 36.5%;
    left:0;
    right:0;
  }
  .list-main-tabs{
    position:absolute;
    flex-direction: column;
    width:300px;
    background:var(--pure-white);
    overflow-Y:scroll;
    height:100vh;
    justify-content: flex-start;
    right:-300px;
    transition: ease-in .3s;
    overflow-x: hidden;
  }
  .list-main-tabs.visible{
    right:0;
    z-index:1
  }
}
