#root {
  --pure-white: #fff;
  --orange-text: #f49c00;
  --ab-red: rgb(180, 38, 2);
  --dim: rgb(0, 0, 0, 0.5);
  --txt-shdw: 2px 2px black;
  --txt-black: #231f20;
}
body {
  scroll-behavior: smooth;
}
header {
  height: 5.5rem;
  width: 100vw;
  background: var(--pure-white);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}
header * {
  color: var(--txt-black);
}
/*TODO delete hero-container after header layout complete*/
.hero-container {
  height: 1000px;
}
header.fixed {
  position: fixed;
}
header.absolute {
  position: absolute;
}
.logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin:0;
}
.logo img {
  height: 18.75px;
  padding: 1rem;
  margin-left: -8px;
}
.logo a {
  display: flex;
  align-items: center;
}
.list-main-tabs {
  /*main header tabs */
  display: flex;
  justify-content: center;
  font-weight: 600;
  height: auto;
  margin: 0;
  padding: unset;
  flex-basis: 0;
}
.main-tab,
.sub-tab-1 {
  position: relative;
}
.main-tab-link {
  /*fills entire element with link*/
  display: flex;
  flex-grow: 1;
  height: max-content;
  width: max-content;
  padding: .75rem;
}
nav {
  flex-grow: 10;
  margin: 0px 0 0 -38px;
}
.list-sub-tabs-1,
.list-sub-tabs-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
}
.list-sub-tabs-1.active,
.list-sub-tabs-2.active {
  visibility: visible;
}

.list-sub-tabs-1 {
  left: -2.5rem;
}
.list-sub-tabs-2 {
  left: 9rem;
  top: 0;
}
header li {
  font-size: 0.75rem;
  list-style: none;
  cursor: pointer;
}
header a {
  text-decoration: none;
}
.list-sub-tabs-1.active {
  background: lightblue;
}
.list-sub-tabs-2.active {
  background: blue;
}

.utilities-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-right:9px;
}
.utilities-globe,
.utilities-search {
  height: 1rem;
  width: auto;
  padding: 0.65rem;
  padding-bottom:.85rem;
  cursor: pointer;

}
.utilities-container svg {
  height: 1.3rem;
}
