#root{
  --pure-white:#fff;
  --orange-text:#f49c00;
  --ab-red:rgb(180, 38, 2);
  --dim:rgb(0,0,0,0.5);
  --txt-shdw:2px 2px black;
  --txt-black:#231f20;
}
body {
  margin:0;
  font-family:  "canada-type-gibson ",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:rgb(41, 41, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
